<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lynu.mapper.InformMapper">
<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="cn.lynu.model.Inform">
    <id column="inform_id" jdbcType="INTEGER" property="informId" />
    <result column="inform_title" jdbcType="VARCHAR" property="informTitle" />
    <result column="inform_body" jdbcType="VARCHAR" property="informBody" />
    <result column="is_attachment" jdbcType="INTEGER" property="isAttachment" />
    <result column="attachment_path" jdbcType="VARCHAR" property="attachmentPath" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="admin_id" jdbcType="CHAR" property="adminId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    inform_id, inform_title, inform_body, is_attachment, attachment_path, create_date, 
    admin_id
  </sql>
  <select id="selectByExample" parameterType="cn.lynu.model.InformExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inform
    where inform_id = #{informId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inform
    where inform_id = #{informId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.lynu.model.InformExample">
    delete from inform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.lynu.model.Inform">
    insert into inform (inform_id, inform_title, inform_body, 
      is_attachment, attachment_path, create_date, 
      admin_id)
    values (#{informId,jdbcType=INTEGER}, #{informTitle,jdbcType=VARCHAR}, #{informBody,jdbcType=VARCHAR}, 
      #{isAttachment,jdbcType=INTEGER}, #{attachmentPath,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{adminId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.lynu.model.Inform">
    insert into inform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="informId != null">
        inform_id,
      </if>
      <if test="informTitle != null">
        inform_title,
      </if>
      <if test="informBody != null">
        inform_body,
      </if>
      <if test="isAttachment != null">
        is_attachment,
      </if>
      <if test="attachmentPath != null">
        attachment_path,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="informId != null">
        #{informId,jdbcType=INTEGER},
      </if>
      <if test="informTitle != null">
        #{informTitle,jdbcType=VARCHAR},
      </if>
      <if test="informBody != null">
        #{informBody,jdbcType=VARCHAR},
      </if>
      <if test="isAttachment != null">
        #{isAttachment,jdbcType=INTEGER},
      </if>
      <if test="attachmentPath != null">
        #{attachmentPath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.lynu.model.InformExample" resultType="java.lang.Long">
    select count(*) from inform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update inform
    <set>
      <if test="record.informId != null">
        inform_id = #{record.informId,jdbcType=INTEGER},
      </if>
      <if test="record.informTitle != null">
        inform_title = #{record.informTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.informBody != null">
        inform_body = #{record.informBody,jdbcType=VARCHAR},
      </if>
      <if test="record.isAttachment != null">
        is_attachment = #{record.isAttachment,jdbcType=INTEGER},
      </if>
      <if test="record.attachmentPath != null">
        attachment_path = #{record.attachmentPath,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminId != null">
        admin_id = #{record.adminId,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update inform
    set inform_id = #{record.informId,jdbcType=INTEGER},
      inform_title = #{record.informTitle,jdbcType=VARCHAR},
      inform_body = #{record.informBody,jdbcType=VARCHAR},
      is_attachment = #{record.isAttachment,jdbcType=INTEGER},
      attachment_path = #{record.attachmentPath,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      admin_id = #{record.adminId,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lynu.model.Inform">
    update inform
    <set>
      <if test="informTitle != null">
        inform_title = #{informTitle,jdbcType=VARCHAR},
      </if>
      <if test="informBody != null">
        inform_body = #{informBody,jdbcType=VARCHAR},
      </if>
      <if test="isAttachment != null">
        is_attachment = #{isAttachment,jdbcType=INTEGER},
      </if>
      <if test="attachmentPath != null">
        attachment_path = #{attachmentPath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=CHAR},
      </if>
    </set>
    where inform_id = #{informId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lynu.model.Inform">
    update inform
    set inform_title = #{informTitle,jdbcType=VARCHAR},
      inform_body = #{informBody,jdbcType=VARCHAR},
      is_attachment = #{isAttachment,jdbcType=INTEGER},
      attachment_path = #{attachmentPath,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=CHAR}
    where inform_id = #{informId,jdbcType=INTEGER}
  </update>
  
  <resultMap type="cn.lynu.model.Inform" id="titleAndId">
  	<id property="informId" column="inform_id"/>
  	<result property="informTitle" column="inform_title"/>
  	<result property="createDate" column="create_date"/>
  </resultMap>
  <select id="selectTitleAndId" resultMap="titleAndId">
  	select inform_id,inform_title,create_date from inform
  </select>
  
</mapper>